<section class="content">
  <div class="content-block">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title">{{ isEditMode ? ('EDIT_MEETING' | translate) : ('ADD_MEETING' | translate) }}</h4>
            </div>
          </div>
      <div class="card-body">
        <form [formGroup]="meetingForm" (ngSubmit)="saveMeeting()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="title">{{ 'TITLE' | translate }} *</label>
                <input type="text" id="title" formControlName="title" class="form-control"
                  [ngClass]="{ 'is-invalid': meetingForm.get('title').touched && meetingForm.get('title').invalid }">
                <div *ngIf="meetingForm.get('title').touched && meetingForm.get('title').invalid" class="invalid-feedback">
                  <div *ngIf="meetingForm.get('title').errors?.['required']">{{ 'TITLE_REQUIRED' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">{{ 'DESCRIPTION' | translate }}</label>
                <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startTime">{{ 'START_TIME' | translate }} *</label>
                <input type="datetime-local" id="startTime" formControlName="startTime" class="form-control"
                  [ngClass]="{ 'is-invalid': meetingForm.get('startTime').touched && meetingForm.get('startTime').invalid }">
                <div *ngIf="meetingForm.get('startTime').touched && meetingForm.get('startTime').invalid" class="invalid-feedback">
                  <div *ngIf="meetingForm.get('startTime').errors?.['required']">{{ 'START_TIME_REQUIRED' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endTime">{{ 'END_TIME' | translate }} *</label>
                <input type="datetime-local" id="endTime" formControlName="endTime" class="form-control"
                  [ngClass]="{ 'is-invalid': meetingForm.get('endTime').touched && meetingForm.get('endTime').invalid }">
                <div *ngIf="meetingForm.get('endTime').touched && meetingForm.get('endTime').invalid" class="invalid-feedback">
                  <div *ngIf="meetingForm.get('endTime').errors?.['required']">{{ 'END_TIME_REQUIRED' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="userIds">{{ 'PARTICIPANTS' | translate }}</label>
                <select multiple id="userIds" formControlName="userIds" class="form-control">
                  <option *ngFor="let user of users" [value]="user.id">
                    {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
                  </option>
                </select>
                <small class="form-text text-muted">{{ 'PARTICIPANTS_HELP_TEXT' | translate }}</small>
              </div>
            </div>
          </div>

          <!-- Meeting Link Section (visible whenever a link is available) -->
          <div class="row mt-3" *ngIf="meetingLink">
            <div class="col-md-12">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">{{ 'MEETING_LINK' | translate }}</h5>
                  <p class="card-text">{{ 'SHARE_LINK_DESCRIPTION' | translate }}</p>
                  <div class="input-group">
                    <input type="text" class="form-control" [value]="meetingLink" readonly>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" (click)="copyMeetingLink()">
                        <i class="fas fa-copy"></i> {{ 'COPY' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
              <button *ngIf="isEditMode" type="button" class="btn btn-danger mr-2" (click)="deleteMeeting()">
                <i class="fas fa-trash"></i> {{ 'DELETE' | translate }}
              </button>
              <button type="submit" class="btn btn-primary" [disabled]="meetingForm.invalid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{ isEditMode ? ('UPDATE' | translate) : ('SAVE' | translate) }}
              </button>
            </div>
          </div>
        </form>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
